/* Custom Stylesheet */
body{
  width: 100%;
}
#contactPage {
  background: #e1f5fe;
}
hr.style11 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
/*
.form-entry{
  background: #e1f5fe;
}*/
.cover-pic{
   -webkit-filter: opacity(50%); /* Safari */
    filter: opacity(50%);
}
.parent {
   overflow: hidden;
}
.image1 {
  transition: all .5s;
  overflow: hidden;
}
.image2 {
  width: 100%;
  height: 100%;
  transition: all .5s;
  overflow: hidden;
}
.image3 {
  width: 100%;
  height: 100%;
  transition: all .5s;
  overflow: hidden;
}
.image4 {
  width: 100%;
  height: 100%;
  transition: all .5s;
  overflow: hidden;
}
.image5 {
  width: 100%;
  height: 100%;
  transition: all .5s;
  overflow: hidden;
}
.image6 {
  width: 100%;
  height: 100%;
  transition: all .5s;
  overflow: hidden;
}
.parent:hover .image1,
.parent:focus .image1 {
  transform: scale(1.2);
  display:block;
}
.parent:hover .image2,
.parent:focus .image2 {
  transform: scale(1.2);
  display:block;
}
.parent:hover .image3,
.parent:focus .image3 {
  transform: scale(1.2);
  display:block;
}
.parent:hover .image4,
.parent:focus .image4 {
  transform: scale(1.2);
  display:block;
}
.parent:hover .image5,
.parent:focus .image5 {
  transform: scale(1.2);
  display:block;
}
.parent:hover .image6,
.parent:focus .image6 {
  transform: scale(1.2);
  display:block;
}
.client{
   -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}
.slider .indicators .indicator-item.active{
  background-color:#2196f3;
  }

  .slider .indicators .indicator-item{
  display:inline-block;
  position:relative;
  cursor:pointer;
  height:16px;
  width:16px;
  margin:0 12px;
  background-color:#e0e0e0;
  transition:background-color .3s;
  border-radius:25%;
}
.client_slider .slides li img{
  height:100%;
 width:100%;
 background-size:contain;
 background-repeat:   no-repeat;
 /*background-position:center*/
}
.over-img{
  background: rgba(0, 0, 0, 0.4);
}

#home_content{
  margin-top:570px;
}

.caption h3{
  text-shadow: 2px 2px #000000;
}
.caption {
    margin-top:100px;
}
.numerics{
  font-family: 'Nunito Sans', sans-serif;
}
.bullets:before {
  content:"• ";
}
#product {
  margin-left:15px;
}

#specs{
  margin-left:38px;
}
#request_for_quote{
  /*background: linear-gradient(#e3f2fd,white );*/
  position:absolute;
  width:50%;
  margin-left:400px;
  margin-top:280px;
  z-index:1;
}
.rqst_btn {
  background:white;
  color:black;
}

#about_us,#contact_us {
  margin-top:-25px;
}
#contact_us{
  background-color: rgba(0, 180, 200, 0.7);
  height:370px;

}
#products{
  min-width: 1000px;
  max-height: 400px;
  margin-left:180px;
  background-color: #263238;
  font-family:'Abel',sans-serif;
}
.btn1,.btn2,.btn3 {
  cursor:pointer;
}
#projects {
  min-width:300px;
  max-height:250px;
  margin-right:80px;
   background-color: #263238;
  font-family:'Abel',sans-serif;
}
.headName {
  opacity:0.6;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
.headNamev3 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color:white;
}
.headNamev2 {
  opacity:0.7;
  font-size:22px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.table_specs {
 font-family: 'Open Sans Condensed', sans-serif;
 font-size:18px; 
}
.headName1 {
  font-family: 'Abel', sans-serif;
}
.dropdown_headName{
line-height:100%;
color:white;
}
.product_name {
 line-height: 100%; 
}
.dropdown_headName :hover{
  color:white;
}

span {
  color:#263238; 
  font-size:24px;
}

nav {
  margin-top: -25px;
  background:#212121;
  font-family:'Abel',sans-serif;
}

nav :hover {
    color:#ff9800;
  }
 #products :hover {
  color :#ff9800;
  background-color:#263238;
 }

nav .brand-logo{
  color:white;
}


.breadcrumb:before{
  content:'\E5CC';
  color:rgba(0,0,0,0.7);
  vertical-align:top;
  display:inline-block;
  font-family:'Material Icons';
  font-weight:normal;
  font-style:normal;
  font-size:25px;
  margin:0 10px 0 8px;
-webkit-font-smoothing:antialiased
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

footer.page-footer {
  margin: 0;
  position: relative;
  background: #263238;
}
.foot{
  font-size:11px;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../icons/MaterialIcons-Regular.woff) format('woff'),
       url(../icons/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}