/* custom style for contact page form */

.input-field .prefix.active{color:#2979ff;}

input[type=text],input[type=password],input[type=email],input[type=url],input[type=time],input[type=date],input[type=datetime],input[type=datetime-local],input[type=tel],input[type=number],input[type=search],textarea.materialize-textarea{
    background-color:#82b1ff;
    color:white;
    border:none;/*2px ridge;*/
    border-radius:5px;
    outline:none;
    height:2.7rem;
    width:100%;
    font-size:1rem;
    margin:0 0 3px 0;
    padding:0;
    box-shadow:none;
    box-sizing:content-box;
    transition:all 0.3s;
  }
  .input-field label{
  color:white;
  position:absolute;
  top:0.5rem;
  left:0.75rem;
  font-size:1rem;
  cursor:text;
  transition:.2s ease-out
}
  .input-field{position:relative;margin-top:0.5rem;}
#select_industry{
    width:45%;
    margin-left:45px;
  }