
RewriteEngine on

RewriteCond %{THE_REQUEST} /index.html [NC]
RewriteRule ^ / [NC,L,R]

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php
