
RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

#RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
#RewriteRule ^ /%1 [NC,L,R]
#RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteCond %{THE_REQUEST} /index [NC]
RewriteRule ^ / [NC,L,R]

#RewriteRule ^project_page/(.*)$ /project_page\.php?id=$1 [R=301,NC,L]
RewriteRule ^projects/(.*)$ /project_page\.php?id=$1 [R=301,NC,L]

RewriteRule ^office/(.*)$ /products\.php?id=$1&type=2 [R=301,NC,L]
RewriteRule ^industrial/(.*)$ /products\.php?id=$1&type=4 [R=301,NC,L]
RewriteRule ^led_screen/(.*)$ /products\.php?id=$1&type=1 [R=301,NC,L]

#RewriteRule ^industrial/(.*) /error.html

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{THE_REQUEST} /index [NC]
RewriteRule ^ / [NC,L,R]

#RewriteRule ^project_page/(.*)$ /project_page\.php?id=$1 [R=301,NC,L]
RewriteRule ^projects/(.*)$ /project_page\.php?id=$1 [R=301,NC,L]

RewriteRule ^office/(.*)$ /products\.php?id=$1&type=2 [R=301,NC,L]
RewriteRule ^industrial/(.*)$ /products\.php?id=$1&type=4 [R=301,NC,L]
RewriteRule ^led_screen/(.*)$ /products\.php?id=$1&type=1 [R=301,NC,L]

#RewriteRule ^industrial/(.*) /error.html

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

ErrorDocument 403 /error.html
ErrorDocument 404 /error.html
ErrorDocument 500 /error.html
